[run]
omit = 
        ./sksurgerycalibration/_version.py
        ./sksurgerycalibration/__init__.py
        ./sksurgerycalibration/algorithms/__init__.py
        ./sksurgerycalibration/__main__.py
        ./sksurgerycalibration/ui/__init__.py
