# This file lists the python packages that your software depends on.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
numpy
ipykernel
nbsphinx
scipy
opencv-contrib-python-headless<=4.5.1
scikit-surgerycore
scikit-surgeryimage>=0.8.5
scikit-surgeryopencvcpp
